.main {
    min-height: 680px;
    padding: 23px 0 82px 0;
    background: url(/img/main/bg.png) center center / cover no-repeat;
    &__text {
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        color: #fff;
        margin-top: 10px;
    }
    &__title {
        font-size: 72px;
        font-weight: 700;
        text-align: center;
        color: $main-color;
        margin-top: 26px;
    }
    &__subtitle {
        font-size: 42px;
        text-align: center;
        color: #fff;
        font-weight: 400;
        margin-top: 9px;
    }
    &__line {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 38px;
        img {
            width: 100%;
        }
    }
    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 27px 0 30px 0;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 262px;
        min-height: 145px;
        &_icons {
            height: 63px;
        }
        &_text {
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            color: #fff;
        }
    }
    &__btn {
        display: block;
        width: 230px;
        height: 57px;
        background-color: $main-color;
        border-radius: 40px;
        border: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        margin: 0 auto;
    }
    &__btn:hover {
        background-color: #dc462a;
        transition: all 0.4s;
    }
}



